.starships-details {
	display: flex;
	padding: 20px;
	background-color: var(--bs-gray-800);
	border-radius: 10px;
	gap: 40px;
}

.starships-details__info{
	list-style: none;
}
.starships-details__info li {
padding: 10px 0;
	border-top: 1px solid rgba(255, 255, 255, .1);
}