.header {
	padding-top: 30px;
	display: grid;grid-template-columns: 20% 80%;gap: 40px;
	
	align-items: center;
}
.header__title{
	
}
.header__title a{
	text-decoration: none;	
}

.nav-link{
	font-size: 24px;
}
.nav-item:not(:last-child){
	padding-right: 10px;
}